# Python divides the operators in the following groups:
* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [65]:
!conda install lxml -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

# Python Arithmetic Operators

In [66]:
import pandas as pd 
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [67]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division

9
5
14
3.5

In [68]:
a : int = 11
b : int = 3

print(a % 3)    # "%" is used for modulus or mod

2

In [69]:
print(2**2)     # double staric used for power
print(2**3)
print(2**8)

4
8
256

In [70]:
print(12 / 3)
print(14.8 / 3)

4.0
4.933333333333334

In [71]:
print(14.8 / 3)
print(14.8 // 3)

4.933333333333334
4.0

# Python Assignment Operators

In [72]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [73]:
a : int = 7
print(b := 7)

7

In [74]:
# = assign
a : int = 7
b : int = 2

In [75]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [76]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [77]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [78]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [79]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [80]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [81]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == 7
# True

False

In [82]:
# !=
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

False

In [83]:
# !=
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [84]:
# !=
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [85]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [86]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [87]:
# !=
a : int = 2
b : int = 7

print(a >= b)

False

In [88]:
# !=
a : int = 7
b : int = 7

print(a >= b)

True

In [89]:
# !=
a : int = 7
b : int = 7

print(a <= b)

True

In [90]:
# !=
a : int = 7
b : int = 7

print(a=>b)

SyntaxError: invalid syntax (354158780.py, line 5)

ASCII Code

A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57

In [ ]:
ord('A')    ##used to get ASCII value of the charector

65

In [ ]:
ord('a')

97

In [ ]:
chr(70)     #used to get charector of the ASCII value

'F'

In [ ]:
a : str = 'A'
b : str = 'B'

print(b >= a)

In [ ]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

# Python Logical Operators

In [ ]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [ ]:
#1        2        3        4
True and True and True and True

True

In [ ]:
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

In [ ]:
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

In [ ]:
not True

False

In [92]:
name : str = "Ehtesham"
print(not name=="Ehtesham")
# name == "Ehtesham"
# "Ehtesham" == "Ehtesham"
# True

True

In [93]:
name : str = "Ehtesham"
print(name!="Ehtesham")
# name == "Ehtesham"
# "Ehtesham" == "Ehtesham"
# True

False

# Python Identity Operator

In [94]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [95]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140737402376456
140737402376456

In [96]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140737402376456
2138604850896

False

In [97]:
x is z

True

In [99]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140737402376456
140737402376456

False

# Python Membership Operators

In [101]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [102]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [103]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [104]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [106]:
names : list[str] = ['Ehtesham','Amjad', 'Fatima']

uinput : str = input("Enter your name")

uinput not in names

True

# PEMDAS

In [107]:
print(3 + 2 - 2 * 4 /2 + 2)

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

In [108]:
print((6 + 3) - (6 + 3))

0

In [109]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [110]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'amjad', 7, 3.0

print(a)
print(b)
print(c)

amjad
7
3.0

In [111]:
a, b, c = ('amjad', 7, 3.0)
print(a)
print(b)
print(c)

amjad
7
3.0

In [112]:
data = ('amjad', 7, 3.0)
print(data[0], data[1], data[2])

amjad 7 3.0

In [116]:
data = ('amjad', 7, 3.0)
print(*data)

amjad 7 3.0

In [117]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!