In [ ]:
name1 : str = "Fatima"
name2 : str = "Amjad"
name3 : str = "Ehtesam"

# List
* dynamic length
* hetrogenous data types (Multiple type)
* index
    * postive 0 to n-1
    * negative -1 to length
* Slicing
    * variable names[start:end:step]
    * start : int = include
    * end : int = n-1
    * step : int = sequance

In [3]:

# ->                    0        1                  2
names : list[str] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat"]
# <-                    -3     -2                    -1

print(names[-2])
print(names[0])
print(names[3])

M Ehtesham ul Hassan Malik
Amjad
Mishquat

In [6]:
from typing import Any

# ->                    0        1                        2                    3       4    5
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]
# <-                    -6             -5                   -4               -3       -2   -1

print(names[-2])
print(names[-4])

20
M Ehtesham ul Hassan Malik

In [8]:
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat"]
print(type(names))
print(type(names[-2]))

print(f'Founder of Afkaar-e-Danishmand {names[-2].upper()}')

<class 'list'>
<class 'str'>
Founder of Afkaar-e-Danishmand M EHTESHAM UL HASSAN MALIK

In [9]:
'abcdef'

'abcdef'

In [10]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [11]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYX")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

In [13]:
#                          0    1    2                                                                                                                 25
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']
#                         -26   -25  -24                                                                                                                         -1
# Slicing
   # * variable names[start:end:step]
   # * start : int = include
   # * end : int = n-1
   # * step : int = sequance
# defualt slicing go from left to right
print(characters[0:2]) # 0= include : index 2-1 = 1
print(characters[:2]) # not pass any number = all
print(characters[-26:-24])# 0= include : index -24-1 = -25
print(characters[0:2:1]) # 0= include : index 2-1 = 1
print(characters[0:2:]) # 0= include : index 2-1 = 1

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [14]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

In [15]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

print(characters[::2])

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [16]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

print(characters[1:-3])

['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W']

In [17]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

print(characters[::-1]) # <-

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [18]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5:-1])

['G', 'F', 'E']

# List Methods

In [19]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
a: list[str] = [1,2,3]
print(a)

[1, 2, 3]

In [21]:
a: list[str] = [1,2,3]
del a # remove object from memory
print(a)

NameError: name 'a' is not defined

In [22]:
a: list[str] = [1,2,3]
a.clear()# remove all element but object is ramin
print(a)

[]

# HELP!
* help(object)
* object?
* object??
* ?object
* ??object

In [24]:

help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [25]:
??print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [27]:
# ->                    0        1                        2                    3       4    5
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]
# <-                    

print(names)
names[0]="Malik Amjad Hussain"  #editable
print(names)

['Amjad', 'Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]
['Malik Amjad Hussain', 'Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]

In [28]:
# ->                    0        1                        2                    3       4    5
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]
# <-                    

print(names)
del names[2]  # delete 2 form index
print(names)

['Amjad', 'Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]
['Amjad', 'Fatima Zahra', 'Mishquat', 20, True]

# pop Method

In [32]:
# ->                    0        1                        2                    3       4    5
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]
# <-                    

print(names)
a : str = names.pop()
print(a)

['Amjad', 'Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]
True

In [33]:
# ->                    0        1                        2                    3       4    5
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]
# <-                    

print(names)
a : str = names.pop(2)
print(a)

['Amjad', 'Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]
M Ehtesham ul Hassan Malik

# Append Method & add element in the last

In [34]:
# ->                    0        1                        2                    3       4    5
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]
# <-                    

print(names)
names.insert(0,"Malik Azmat Hussain")  # inserting on a perticular position 
print(names)

['Amjad', 'Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]
['Malik Azmat Hussain', 'Amjad', 'Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]

In [35]:
names : list[str] =['Amjad','Memoona']

names.append("Fatima") # Added in the last
names.append("Ehtesham") # added in the last
names.append("Mishquat")

print(names)

['Amjad', 'Memoona', 'Fatima', 'Ehtesham', 'Mishquat']

In [36]:
a : list[str] =['a','b']

b = a

print(a)
print(b)

['a', 'b']
['a', 'b']

In [40]:
a : list[str] =['a','b','c']

b = a #shallow copy

print(a)
print(b)

b[0]="Pakistan"     #wanted to update only "b" variable, but both updated

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['Pakistan', 'b', 'c']
['Pakistan', 'b', 'c']

In [42]:
a : list[str] =['a','b','c']

b=a.copy() #shallow copy

print(a)
print(b)

b[0]="Pakistan"     

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['Pakistan', 'b', 'c']

In [46]:
# count
names : list[str] = ['a','a','a','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [48]:
names : list[str] =['Amjad','Memoona']
new_group_members : list[str] = ['Ehtesham',"Fatima"]

names.append(new_group_members)

names

['Amjad', 'Memoona', ['Ehtesham', 'Fatima']]

In [49]:
names : list[str] =['Amjad','Memoona']
new_group_members : list[str] = ['Ehtesham',"Fatima"]

names.extend(new_group_members)

names

['Amjad', 'Memoona', 'Ehtesham', 'Fatima']

In [53]:
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]


del names [1:4]

names

['Amjad', 20, True]

In [55]:
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]


names.remove("Amjad") #remove with text values

names

['Fatima Zahra', 'M Ehtesham ul Hassan Malik', 'Mishquat', 20, True]

In [56]:
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]



names.index("Mishquat")

3

In [58]:
names : list[Any] = ["Amjad","Fatima Zahra", "M Ehtesham ul Hassan Malik","Mishquat", 20, True]

names.reverse()
print(names)

[True, 20, 'Mishquat', 'M Ehtesham ul Hassan Malik', 'Fatima Zahra', 'Amjad']

In [63]:
names : list[str] = list("ABCDEF")

print(names)

names.reverse()

print(names)

['A', 'B', 'C', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [64]:
names : list[str] = list("ABCDEF")
print(names)
names.sort(reverse=True)
print(names)

['A', 'B', 'C', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [65]:
names : list[str] = list("ABCDEF")
print(len(names))

6