In [31]:
print("Name")

Name

In [32]:
print (name)

M eHteSHaM uL hASsaN MaLiK

In [33]:
name: str = "M Ehtesham Ul Hassan Malik"
print(name)

M Ehtesham Ul Hassan Malik

# String Data type in python

In [34]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""

name : str = "M Ehtesham Ul Hassan Malik"
print(type(name))
print(name)

<class 'str'>
M Ehtesham Ul Hassan Malik

In [35]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""

name : str = 'M Ehtesham Ul Hassan Malik'
print(type(name))
print(name)

<class 'str'>
M Ehtesham Ul Hassan Malik

In [36]:
message : str = 'University Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (3623815829.py, line 1)

In [ ]:
message : str = "University Student Card \n father's Name"
print(message)

University Student Card
 father's Name

In [ ]:
message : str = 'University Student Card \n father Name'
print(message)

University Student Card
 father Name

In [ ]:
# convert any special character into simple character, place \ before character
message : str = 'University Student Card \n father\'s Name'
message2 : str = "Pakistan\'s largest city is Karachi"
print(message)
print(message2)

University Student Card
 father's Name
Pakistan's largest city is Karachi

In [ ]:
"a" + "b" + "c"

'abc'

In [ ]:
"a" + "7"

'a7'

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""

name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card : str = "University Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""

name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card : str = "University Student Card\nStudent Name: " + name + "\nAge:" + str(age)

print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Age:20

In [ ]:
print(7 + 8 + 2)

17

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""

name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card : str = "University Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education


print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Age:20
Education: BS in Software Engineering

# Defining Multiline String

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = """
University Student Card
Student Name : 
Father's Name: 
Age: ......
Education: .....
""" 
print(card)

University Student Card
Student Name :
Father's Name:
Age: ......
Education: .....

# F-String Python

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = f"""
University Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Father Name: Malik Azmat Hussain
Age: 20
Education: BS in Software Engineering

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = f'''
University Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education}
'''
print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Father Name: Malik Azmat Hussain
Age: 20
Education: BS in Software Engineering

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = f'''
University Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education}

Total {7+9+11}
'''
print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Father Name: Malik Azmat Hussain
Age: 20
Education: BS in Software Engineering

Total 27

# F-string and Jinja style

In [ ]:
# f String style/format
f"""
student name {name}
"""

In [ ]:
# Jinja Style/format
"""
student name {{name}}
"""

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = '''
University Student Card
Student Name: %s
Father Name: %s
Age: %d
Education: %s
''' % (name, fname, age, education)
print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Father Name: Malik Azmat Hussain
Age: 20
Education: BS in Software Engineering

In [ ]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [ ]:
name: str = "M Ehtesham Ul Hassan Malik"
print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.count)

M ehtesham ul hassan malik
m ehtesham ul hassan malik
M EHTESHAM UL HASSAN MALIK
<built-in method count of str object at 0x0000024B13B61B60>

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = '''
University Student Card
Student Name: {}
Father Name: {}
Age: {}
Education: {}
'''.format(fname, name, education, age)     #wrong format can damage our data 
print(card)

University Student Card
Student Name: Malik Azmat Hussain
Father Name: M Ehtesham Ul Hassan Malik
Age: BS in Software Engineering
Education: 20

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = '''
University Student Card
Student Name: {1}
Father Name: {0}
Age: {3}
Education: {2}
'''.format(fname, name, education, age)     #indexing takes too much time for large set of data
print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Father Name: Malik Azmat Hussain
Age: 20
Education: BS in Software Engineering

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = '''
University Student Card
Student Name: {a}
Father Name: {b}
Age: {c}
Education: {d}
'''.format(a=name, b=fname, c=age, d=education)     
print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Father Name: Malik Azmat Hussain
Age: 20
Education: BS in Software Engineering

# Recommended below two f-String format

In [ ]:
name : str = 'M Ehtesham Ul Hassan Malik'
fname : str = "Malik Azmat Hussain"
education : str = "BS in Software Engineering"
age : int = 20

card: str = f'''
University Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education}
'''
print(card)

University Student Card
Student Name: M Ehtesham Ul Hassan Malik
Father Name: Malik Azmat Hussain
Age: 20
Education: BS in Software Engineering

In [ ]:
student_code : str = """
print("My Name is M Ehtesham Ul Hassan Malik")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is M Ehtesham Ul Hassan Malik
15

# Explore String methods and attributes
pre-define global function we have used
* print
* type
* id
* dir
* len

In [ ]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [ ]:
name : str = "M eHteSHaM uL hASsaN MaLiK"

#variable_name.method()
print(name)
print(name.capitalize())
print(name.casefold())
print(name.upper())
print(name.lower())

display(name)
display(name.rsplit())
display(name.strip())
display(name.split())
display(name.title())

M eHteSHaM uL hASsaN MaLiK
M ehtesham ul hassan malik
m ehtesham ul hassan malik
M EHTESHAM UL HASSAN MALIK
m ehtesham ul hassan malik

'M eHteSHaM uL hASsaN MaLiK'

['M', 'eHteSHaM', 'uL', 'hASsaN', 'MaLiK']

'M eHteSHaM uL hASsaN MaLiK'

['M', 'eHteSHaM', 'uL', 'hASsaN', 'MaLiK']

'M Ehtesham Ul Hassan Malik'