# List
* Iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ['Amjad',"Ali","Ahmed"]
print(names)

['Amjad', 'Ali', 'Ahmed']

In [6]:
names : list[str] = ['Amjad',"Ali","Ahmed"]
for name in names:
    print(name)

Amjad
Ali
Ahmed

In [8]:
names : list[str] = ['Amjad',"Ali","Ahmed"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Amjad
Ali
Ahmed

In [9]:
names : list[str] = ['Amjad',"Ali","Ahmed"]
for name in names:
    print(name)

Amjad
Ali
Ahmed

In [12]:
names : list[str] = ['Amjad',"Ali","Ahmed"]
for name in names:
    print(f"Welcome dear {name.title()}")

Welcome dear Amjad
Welcome dear Ali
Welcome dear Ahmed

In [14]:
names : list[str] = ['Amjad',"Ali","Ahmed"]
for name in names:
    print(f"Welcome dear {name.title()}")
    print("Learning Gen AI\n")

Welcome dear Amjad
Learning Gen AI

Welcome dear Ali
Learning Gen AI

Welcome dear Ahmed
Learning Gen AI

In [15]:
names : list[str] = ['Amjad',"Ali","Ahmed"]
for name in names:
    print(f"Welcome dear {name.title()}")
    print("Learning Gen AI\n")
print("This will not be print more than once since i have not given indent to this line")

Welcome dear Amjad
Learning Gen AI

Welcome dear Ali
Learning Gen AI

Welcome dear Ahmed
Learning Gen AI

This will not be print more than once since i have not given indent to this line

In [22]:
data_base : list[tuple[str,str]] = [("Amjad",'123'),
                                    ("Ali",'345'),
                                    ('Ahmed','789')
                                    ]

for row in data_base:
    print(row)

('Amjad', '123')
('Ali', '345')
('Ahmed', '789')

In [23]:
data_base : list[tuple[str,str]] = [("Amjad",'123'),
                                    ("Ali",'345'),
                                    ('Ahmed','789')
                                    ]


for row in data_base:
    user, password = row
    print(user, password)

Amjad 123
Ali 345
Ahmed 789

In [19]:
user_input: str = input("Enter your name")
print(f"good to see you {user_input}")

Enter your name Ehtesham

good to see you Ehtesham

In [25]:
data_base : list[tuple[str,str]] = [("Amjad",'123'),
                                    ("Ali",'345'),
                                    ('Ahmed','789')
                                    ]

input_user: str = input("Enter your name")
input_password: str = input("Enter your password")

for row in data_base:
    user, password = row
    if user==input_user and input_password==password:
        print(f"Access granted to {user}")
        break
else: 
    print(f"Access denied for you Mr.{input_user}")

Enter your name Amjad
Enter your password 123

Access granted to Amjad

In [26]:
data_base : list[tuple[str,str]] = [("Amjad",'123'),
                                    ("Ali",'345'),
                                    ('Ahmed','789')
                                    ]

input_user: str = input("Enter your name")
input_password: str = input("Enter your password")

for row in data_base:
    user, password = row
    if user==input_user and input_password==password:
        print(f"Access granted to {user}")
        break
else: 
    print(f"Access denied for you Mr.{input_user}")

Enter your name Ehtesham
Enter your password 123

Access denied for you Mr.Ehtesham

# Numbers with loop
* `range(start,end,step)`

In [27]:
range(10)

range(0, 10)

In [28]:
list(range(1,10)) #Starting at 0, ending at n-1 i.e:- 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [31]:
names = ["Amjad","Ali","Ehtesham"]
list(enumerate(names))

[(0, 'Amjad'), (1, 'Ali'), (2, 'Ehtesham')]

In [32]:
names = ["Amjad","Ali","Ehtesham"]
for index, name in enumerate(names):
    print(index, name)

0 Amjad
1 Ali
2 Ehtesham

In [39]:
for n in range (1,11):
    print(f"2 X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [43]:
squares: list[int] = []
for value in range(1,11):
    square = value**2  # "**" is used for power
    squares.append(square)
print (squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive 
```
for item in item_list:
    loop_body
```

### Comprehensive Style
```
[loop_body for item in item_list]
```

In [44]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [47]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
'line 1'
'line 2'
'line 3' #speciallity of jupeter notebook is that is always return the last line

'line 3'

In [52]:
digits: list[int] = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
print (digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
100
1
385

In [53]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples
* `it does not change or update`
* `it can not be append`

In [54]:
names: tuple[str] = ('a','b','c')
print(names)
print(names[0])
print(names[0:2])

['a', 'b', 'c']
a
['a', 'b']

In [64]:
names: tuple[str] = ('a','b','c')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [66]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C') # we just reassign the values not updated

print(names)

('Pakistan', 'B', 'C')

In [67]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [69]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)  #tuple can not be updated, but the data of the objects in tuple can be updated
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)